body {
	background-image: url("https://i.imgur.com/lZ7lENG.jpeg");
	background-repeat: repeat-y;
	background-size: 210%;
	margin: 0px;
	font-family: UD Digi Kyokasho N-R,Microsoft JhengHei,PMingLiU;
	font-size: 18px;
}


.main div {
	background-color: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	width: 820px;
	height: auto;
	padding: 0px 20px;
	padding-bottom: 60px;
	box-shadow: 1px 1px 5px #000000;
	white-space: pre-line;
	word-break: break-word;
}

.main div > span:nth-child(1){
	font-weight: bold;
	font-size: 22px;
}

.button {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 15px;
	height: 15px;
	margin-left: 8px;
	border: none;
}

.button:hover{
	cursor: pointer;
}

.profile {
	position: relative;
}

.my_picture {
	position: absolute;
	top: -10px;
	right: 60px;
	background-color: none !important;
	width: 200px !important; 
	padding: 0px !important;
	box-shadow: none !important;
	
}

.side__projects a {
	color: #118176;
	font-weight: bold;
	transition: 0.5s;
}

.side__projects a:hover {
	color: black;
	background-color: yellow;
	border-radius: 5px;
}

.side__projects a:link {
	text-decoration: none;
}

.fold {
	display: none !important;
}

.smaller {
	height: 60px !important;
}



